body {
    background-color: #FEF9E7;
    text-align: -webkit-left;
}

h1 {
    font-family: Tangerine;
    font-size: 80px;
    color: #e17055;
    text-align: center;
    text-decoration-style: solid;
}

h3 {
    font-family: Abril Fatface;
    font-size: 30px;
    color: #ffa500;
    margin-bottom: 0px;
}

h4 {
    font-family: Abril Fatface;
    font-size: 20px;
    color: #ffa500;
    margin-bottom: 0px;
}

p {
    font-family: Cormorant Garamond;
    font-size: 20px;
    color: black;
}

ol {
    font-family: Cormorant Garamond;
    font-size: 20px;
    color: black;
}

.adjust-margin{
    margin-top: 0px;
}

a:link {
    color: Blue;
    background-color: transparent;
    text-decoration: none;
    target: window;
}
a:visited {
    color: purple;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: green;
    background-color: transparent;
    text-decoration: underline;
}

span {

}